body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.draggable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box-container {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

.box {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  background: rgb(100, 146, 214);
  /* border-radius: 50%; */
}
.box:hover {
  cursor: pointer;
}
.box:active {
  background: rgb(73, 189, 117);
  cursor: grabbing;
}
